#rootPane {
    -fx-background-color: linear-gradient(to bottom left, #2c3e91, #7d3c98);
}

.register-left {
    -fx-padding: 40;
    -fx-alignment: CENTER_LEFT;
}

.register-left .label {
    -fx-font-family: "Monospace";
    -fx-text-fill: white;
}

.brand-title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.brand-subtitle {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.brand-subsubtitle {
    -fx-font-size: 16px;
}

.register-card {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-background-radius: 20px;
    -fx-padding: 30;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 15,0,0,5);
}

.register-title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: "Monospace";
}

.form-label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Monospace";
}

.form-field {
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-prompt-text-fill: rgba(255,255,255,0.7);
    -fx-border-color: white;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-padding: 6 10;
	-fx-font-family: "Monospace";  
	-fx-font-size: 12px;
	-fx-font-weight: bold;
}

.form-radio {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5 10;
    -fx-font-family: "Monospace";
}

.form-radio .radio {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 12px;
    -fx-min-width: 18px;
    -fx-min-height: 18px;
}

.form-radio:selected .radio {
    -fx-background-color: linear-gradient(to bottom right, #5dade2, #3498db);
    -fx-border-color: #3498db;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.2) , 2 , 0.0 , 0 , 1 );
}

.form-radio:hover .radio {
    -fx-border-color: #85c1e9;
}

.btn {
    -fx-background-color: #2471a3;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 30px;
    -fx-padding: 10 24;
    -fx-cursor: hand;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.3) , 5,0,0,2 );
    -fx-border-radius: 30px;
    -fx-border-color: white;
    -fx-border-width: 1.5px;
}

.btn:hover {
    -fx-background-color: #9e2f2f;
    -fx-effect: dropshadow(gaussian, rgba(176,58,46,0.8), 15,0,0,0);
}

.status-label {
    -fx-text-fill: #e74c3c;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
